<footer>
  <div class="f-info">
    <div class="f-info-socials">
     <a href="https://www.facebook.com/profile.php?id=61579616144453" style="text-decoration: none;"><i class="fa-brands fa-facebook" style="font-size: 20px;"></i></a> 
     <a href="https://www.instagram.com/tamojit999/" style="text-decoration: none;"><i class="fa-brands fa-instagram" style="font-size: 20px;"></i></a>
     <a href="https://www.linkedin.com/in/tamojit-biswas-075154281/" style="text-decoration: none;"><i class="fa-brands fa-linkedin" style="font-size: 20px;"></i></a> 
      
    </div>
    <div>&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/about">About</a>
    </div>
  </div>
</footer>
