<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ALL LISTINGS</h1>
    <form action="/listing/new" method="get">
        <button>Create new list</button>
    </form>
    <% for (let list of alllistings) { %>
        
        <p><a href="/listing/<%= list._id %>"><%= list.title %></a></p>

   <% } %> 
</body>
</html>
