<% layout('./layouts/boilerplate') -%>
<h1 class="text-center" style="color: #ff385c;">Login in Wanderlust</h1>

    <form action="/login" method="post" novalidate class="FORM needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <div class="invalid-feedback">Please enter your username.</div>
           
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
            
        </div> 
       
        <button class="newbtn">Login</button> 
        <h5 class="form-label mt-2">don't have account? <a href="/signup" style="text-decoration: none; color: #ff385c;">Register now</a></h5>
    </form>
